/* color changed for heading */
h1{
    color: rgb(44, 44, 253);
    
    
}
/* login button color changed */
#button{
    background-color: blue;
    border-color: rgb(232, 239, 239);
    color: white;
}
/* link color changed */
#a{
    color:rgb(47, 47, 222)
}
/* h tag color changed */
#fo{
    color: rgb(201, 10, 10)
}
/* body background color changed */
body{
    background-color:whitesmoke
}